/* PÁGINA INICIAL - BANCO PAN */

* {
    box-sizing: border-box;
}

    /* CABEÇALHO */

header {
    position: relative;
    background: #FFFFFF;
}

nav {
    padding: 1rem;
}

a {
    text-decoration: none;
}

.caixa-menu-1 h1 {
    display: inline-block;
    position: relative;
    top: -5px;
    left: 5px;
}

.caixa-menu-1 ul {
    display: inline-block;
    margin-left: -0.9rem;
    position: relative;
    top: -1rem;
}

.caixa-menu-1 li {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.07rem;
    color: #414141;
}

.caixa-menu-1 li {
    display: inline;
    margin-left: 5rem;
}

.caixa-menu-1 li a {
    color: #414141;
}

.caixa-menu-1 li a:hover {
    text-decoration: underline;
}

.caixa-menu-2 {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 2rem;
    right: 1rem;
}

.menu-link {
    position: relative;
    top: 1px;
    font-size: 1rem;
    color: #414141;
}

.botao {
    padding: 0.9rem 1.5rem;
    border-radius: 12px;
}

.botao-menu {
    background-color: #039BE5;
    font-size: 0.9rem;
    text-decoration: none;
    margin-left: 2rem;
    color: #FFFFFF;
}

    /* CONTEÚDO PRINCIPAL */

main {
    font-family: 'Poppins', sans-serif;
}
    /* PRIMEIRO BLOCO DE CONTEÚDO */

.azul {
    background-color: #07B2FD;
    }

.caixa-1 {
    width: 990px;
    height: 666px;
    margin: 0 auto;
}

.bloco-1 {
    width: 50%;
    padding: 3rem 0;
}

.titulo-pequeno {
    font-family: 'Golos Text', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
}

.primeiro-bloco {
    padding: 6rem 0 1.5rem 0;
}

.titulo {
    font-family: 'Tilt Warp', cursive;
    font-size: 2.5rem;
    line-height: 3.4rem;
    color: #FFFFFF;
    margin-bottom: 3rem;
}

.botao-preto {
    background-color: #0D1317;
    border-radius: 20px;
    padding: 1.4rem 1.5rem;
    color: #FFFFFF;
    margin-bottom: 6rem;
    font-size: 0.9rem;
}

.botao-preto:hover {
    background-color: #D5F3FE;
    color: #0D1317;
    font-weight: 700;
    transition: 0.3s;
}

.texto {
    font-size: 0.8rem;
    /* padding-bottom: 6rem; */
}

.branco {
    color: #FFFFFF;
}

.espacamento-5rem {
    margin: 5rem 0;
}

.bloco-2 {
    width: 41.666667%;
    float: right;
}

.bloco-2 img {
    width: 502px;
    height: 666px;
}

    /* SEGUNDO BLOCO DE CONTEÚDO */

.caixa-2 {
    width: 990px;
    margin: 0 auto;
}

.produtos {
    clear: right;
    background-color: #3A404A;
    position: relative;
    top: -3px;
}

.produtos h2 {
    text-align: center;
    font-size: 2.7rem;
    padding: 4rem 0 1rem 0;
}

.produtos ul {
    text-align: center;
    padding-bottom: 10rem;
}

.produtos li {
    display: inline-block;
    width: 22%;
    text-align: left;
    color: #f8fdff;
    padding: 4rem 2rem;
    background-color: #333942;
    margin: 0.5%;
    border-radius: 15px;
}

.produtos img {
    height: 35px;
    width: auto;
}

.produtos h3{
    margin: 1rem 0;
}

/* RODAPÉ */

footer {
    font-family: 'Tilt Warp', cursive;
}